.sidebarChannel:hover{
    color:white;
    background-color: gray;
    cursor: pointer;
}

.sidebarChannel{
    display: flex;
    color:gray;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
}

.sidebarChannel__hash{
    font-size: 30px;
    padding:8px;
}